<header>
    <h1 style="color:lightblue;">Tiny App</h1>
</header>

<% if(user_id){ %>
    <form action="/logout" method="POST">
       <a href="/urls/new">Create New TinyURL</a>
        <h3>You have successfully logged in, <%=email%>!</h3>
        <button>Log Out</button>
    </form>
  <% } else{ %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
 <% } %>