<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body style="font-size:20px; padding:50px;">
   <% include ./partials/_header %>
   <h3> Short URLs : <%= shortURL %> <h3>

    <ul>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input name="longURL" type ="text" placeholder="Enter URL Name"></input>
      <button type="submit"> SUBMIT </button>

      </form>

    </ul>
</body>
</body>
</html>