<html>

<body style="font-size:20px; padding:50px;">



  <h2>Login not so tiny!</h2>

<ul>
  <form method="POST" action="/login" >
     <li>Email <input name="email" type ="email" placeholder="Enter Email"></input></li>
     <li>Password <input name="password" type ="password" placeholder="Enter Password"></input></li>

     <button type="submit">Login</button>

  </form>

</ul>
</body>

</html>