<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body style="font-size:20px; padding:50px;">

  <h2>Register not so tiny!</h2>

<ul>
  <form method="POST" action="/register" >
     <li>Email <input name="email" type ="email" placeholder="Enter Email"></input></li>
     <li>Password <input name="password" type ="password" placeholder="Enter Password"></input></li>

     <button type="submit">Register</button>

  </form>

</ul>
</body>

</html>